DATABASE_NAME=name
DATABASE_USER=user
DATABASE_PASSWORD=password

DIRECTUS_KEY=key
DIRECTUS_SECRET=secret
DIRECTUS_ADMIN_EMAIL=mail@example.com
DIRECTUS_ADMIN_PASSWORD=password

SMTP_EMAIL_FROM=mail@example.com
SMTP_EMAIL_HOST=localhost
SMTP_EMAIL_PORT=587
SMTP_EMAIL_USER=user
SMTP_EMAIL_PASSWORD=password
